@use "../variables.scss" as vars;
@use "../mixins.scss" as mixin;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: vars.$navbar-height;
  padding-inline: 3rem;
  border-bottom: 1px solid #e1e8f0;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  @include mixin.tablet-mobile {
    padding-inline: 1rem;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mixin.tablet-mobile {
      gap: 0.5rem;
    }

    img {
      width: 2.2rem;
      height: auto;

      @include mixin.tablet-mobile {
        width: 1.8rem;
      }
    }

    .navbar-logo-text {
      font-weight: 700;
      font-size: 1.4rem;

      @include mixin.tablet-mobile {
        font-size: 1.2rem;
      }
    }
  }

  .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    user-select: none;

    @include mixin.tablet-mobile {
      gap: 0.5rem;
    }

    a {
      text-decoration: none;
      color: initial;
    }

    .sign-in-button {
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #f2f6fa;
      }
    }

    .get-started-button {
      background-color: vars.$primary-color;
      padding: 0.5rem 1rem;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      color: #fff;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
