@use "../variables.scss" as vars;
@use "../mixins.scss" as mixin;

.landing-page-container {
  display: flex;
  flex-direction: column;
  padding-top: vars.$navbar-height;

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - vars.$navbar-height);
    text-align: center;
    padding-inline: 3rem;

    @include mixin.tablet-mobile {
      padding-inline: 1rem;
    }

    .main-section-title {
      font-weight: 700;
      font-size: 3.8rem;
      margin-bottom: 1.5rem;

      @include mixin.tablet-mobile {
        font-size: 2.1rem;
      }

      .primary-text {
        color: vars.$primary-color;
      }
    }

    .main-section-description {
      color: #65758c;
      font-size: 1.2rem;
      margin-bottom: 2.3rem;

      @include mixin.tablet-mobile {
        .mobile-no-br {
          display: none;
        }
      }
    }

    .main-section-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 4.5rem;

      @include mixin.tablet-mobile {
        flex-direction: column;
        margin-bottom: 2.3rem;
      }

      a {
        text-decoration: none;
        color: initial;
      }

      .main-section-get-started-button {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 1.2rem;
        background-color: vars.$primary-color;
        padding: 0.8rem 2.2rem;
        border-radius: 8px;
        cursor: pointer;
        color: #fff;

        &:hover {
          opacity: 0.85;
        }
      }

      .main-section-sign-in-button {
        font-weight: 500;
        padding: 0.8rem 2.2rem;
        border-radius: 8px;
        border: 1px solid #e1e8f0;
        cursor: pointer;

        &:hover {
          background-color: #f2f6fa;
        }
      }
    }

    .main-section-features {
      display: flex;
      gap: 2rem;

      @include mixin.tablet-mobile {
        flex-direction: column;
        gap: 1.5rem;
      }

      .feature-container {
        .feature-title {
          color: vars.$primary-color;
          font-weight: 700;
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }

        .feature-description {
          color: vars.$gray-color;
          font-size: 1rem;
        }
      }
    }
  }

  .features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 4.5rem 3rem;

    @include mixin.tablet-mobile {
      padding: 2.5rem 1rem;
    }

    .features-section-title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      text-align: center;

      @include mixin.tablet-mobile {
        font-size: 1.9rem;
      }
    }

    .features-section-subtitle {
      color: #64748b;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 4rem;

      @include mixin.tablet-mobile {
        margin-bottom: 3rem;

        .mobile-no-br {
          display: none;
        }
      }
    }

    .features-section-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      .features-section-card {
        box-sizing: border-box;
        width: calc((100% - 3rem) / 3);
        height: 12.8rem;
        background-color: #fff;
        border: 1px solid #e1e8f0;
        padding: 1.5rem;
        border-radius: 6px;
        transition: box-shadow 0.25s ease;

        @include mixin.tablet-mobile {
          width: 100%;
        }

        &:hover {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
        }

        .features-section-card-icon-badge {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;

          .features-section-card-icon {
            color: vars.$primary-color;
            font-size: 1.4rem;
          }

          .features-section-card-badge {
            font-weight: 500;
            font-size: 0.75rem;
            background-color: #f1f5f9;
            padding: 0.2rem 0.6rem;
            border-radius: 2rem;
          }
        }

        .features-section-card-title {
          margin-bottom: 1.5rem;
          font-weight: 600;
          font-size: 1.2rem;
        }

        .features-section-card-description {
          color: vars.$gray-color;
          font-size: 1rem;
        }
      }
    }
  }

  .built-for-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 3rem;

    @include mixin.tablet-mobile {
      padding: 2.5rem 1rem;
    }

    .built-for-section-title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      text-align: center;

      @include mixin.tablet-mobile {
        font-size: 1.9rem;
      }
    }

    .built-for-section-subtitle {
      color: #64748b;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 4rem;

      @include mixin.tablet-mobile {
        margin-bottom: 3rem;

        .mobile-no-br {
          display: none;
        }
      }
    }

    .built-for-section-cards {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 1.5rem;

      .built-for-section-card {
        background-color: #fff;
        border: 1px solid #e1e8f0;
        padding: 1.5rem;
        width: calc((100% - 3rem) / 3);
        border-radius: 6px;
        transition: box-shadow 0.25s ease;
        height: 100%;

        @include mixin.tablet-mobile {
          width: 100%;
        }

        &:hover {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
        }

        .built-for-section-card-title {
          margin-bottom: 0.7rem;
          font-weight: 600;
          font-size: 1.2rem;
          text-align: center;
        }

        .built-for-section-card-description {
          color: vars.$gray-color;
          font-size: 1rem;
          text-align: center;
          margin-bottom: 2rem;
        }

        .built-for-section-card-items {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;

          .built-for-section-card-item {
            display: flex;
            gap: 0.4rem;

            .built-for-section-card-item-icon {
              color: vars.$primary-color;
              font-size: 1.3rem;
              margin-top: -0.15rem;
            }

            .built-for-section-card-item-text {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }

  .quality-features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 4.5rem 3rem 0;

    @include mixin.tablet-mobile {
      padding: 2.5rem 1rem 0;
    }

    .quality-features-section-title {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      text-align: center;

      @include mixin.tablet-mobile {
        font-size: 1.9rem;
      }
    }

    .quality-features-section-subtitle {
      color: #64748b;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 4rem;

      @include mixin.tablet-mobile {
        margin-bottom: 3rem;
      }
    }

    .quality-features-section-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      .quality-features-section-card {
        display: flex;
        gap: 1rem;
        width: calc((100% - 3rem) / 3);
        background-color: #fff;
        border: 1px solid #e1e8f0;
        padding: 2rem 1.5rem;
        border-radius: 6px;
        transition: box-shadow 0.25s ease;

        @include mixin.tablet-mobile {
          width: 100%;
        }

        &:hover {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
        }

        &:nth-child(2) {
          .quality-features-section-card-icon {
            font-size: 1.7rem;
          }
        }

        .quality-features-section-card-icon {
          color: vars.$primary-color;
          font-size: 1.4rem;
        }

        .quality-features-section-card-title-description-container {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .quality-features-section-card-title {
            font-weight: 600;
          }

          .quality-features-section-card-description {
            color: vars.$gray-color;
          }
        }
      }
    }
  }
}
